In [1]:
from sklearn import tree
import numpy as np
import pandas as pd
import os

# Read CSV and get_dummies

In [2]:
swimming = pd.read_csv(os.path.join("data/Summer_events/summer_female_tennis.csv"))
swimming.head()

,Age,Height,Weight,Team,Year,City,Event,Medal
0,24.0,190.0,85.0,Uzbekistan,2008,Beijing,Tennis Women's Singles,---
1,26.0,175.0,64.0,Estonia,2008,Beijing,Tennis Women's Singles,---
2,20.0,169.0,60.0,Belgium,1992,Barcelona,Tennis Women's Singles,---
3,24.0,169.0,60.0,Belgium,1996,Atlanta,Tennis Women's Singles,---
4,28.0,169.0,60.0,Belgium,2000,Sydney,Tennis Women's Singles,---

In [3]:
swimmingcopied = swimming.copy()

swimming_dummies = pd.get_dummies(swimmingcopied, columns=["Team", "City", "Event"])
swimming_dummies.head()

,Age,Height,Weight,Year,Medal,Team_Argentina,Team_Australia,Team_Austria,Team_Belarus,Team_Belgium,...,Team_Zimbabwe,City_Athina,City_Atlanta,City_Barcelona,City_Beijing,City_London,City_Rio de Janeiro,City_Seoul,City_Sydney,Event_Tennis Women's Singles
0,24.0,190.0,85.0,2008,---,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,26.0,175.0,64.0,2008,---,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,20.0,169.0,60.0,1992,---,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
3,24.0,169.0,60.0,1996,---,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
4,28.0,169.0,60.0,2000,---,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1

# Select Feature columns

In [4]:
target = swimming_dummies["Medal"]
data = swimming_dummies.drop("Medal", axis=1)
feature_names = data.columns
print(target.shape, data.shape)

(487,) (487, 77)

# Create a Train Test Split

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)
X_train.head()

,Age,Height,Weight,Year,Team_Argentina,Team_Australia,Team_Austria,Team_Belarus,Team_Belgium,Team_Bosnia and Herzegovina,...,Team_Zimbabwe,City_Athina,City_Atlanta,City_Barcelona,City_Beijing,City_London,City_Rio de Janeiro,City_Seoul,City_Sydney,Event_Tennis Women's Singles
459,28.0,185.0,75.0,2008,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
131,23.0,175.0,59.0,1992,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
57,22.0,175.0,63.0,2012,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
181,23.0,172.0,60.0,1992,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
317,23.0,177.0,65.0,2000,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1

# Pre-process Data

In [6]:
# Scale your data
from sklearn.preprocessing import StandardScaler, LabelEncoder

# scale the data with StandardScaler
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Label Encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train.values.ravel())
encoded_y_train = label_encoder.transform(y_train.values.ravel())
encoded_y_test = label_encoder.transform(y_test.values.ravel())
encoded_y_test

array([0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

# Train Random Forest Classifier

In [7]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, encoded_y_train)
rf.score(X_test, encoded_y_test)

0.9590163934426229

In [8]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.17031070591322287, 'Height'),
 (0.13818953662983888, 'Age'),
 (0.13713027569869202, 'Weight'),
 (0.072742033186787, 'Year'),
 (0.06620092599510573, 'Team_United States'),
 (0.03088601231800304, 'Team_Russia'),
 (0.02771401053196688, 'Team_Czech Republic'),
 (0.027643688873747862, 'Team_Germany'),
 (0.024321831083827385, 'Team_Puerto Rico'),
 (0.02384059183620616, 'City_Sydney'),
 (0.023724307413028882, 'Team_Spain'),
 (0.02203759833646729, 'City_Atlanta'),
 (0.021981902384581406, 'Team_Belarus'),
 (0.020980540193891766, 'City_Barcelona'),
 (0.020550290435833948, 'City_London'),
 (0.019553455893115808, 'Team_West Germany'),
 (0.018362781089531464, 'City_Athina'),
 (0.017983567885321395, 'Team_Bulgaria'),
 (0.017103553153177485, 'City_Seoul'),
 (0.01674168802533981, 'City_Beijing'),
 (0.015506277501378417, 'Team_Belgium'),
 (0.014718961661493859, 'Team_France'),
 (0.013477874187793556, 'City_Rio de Janeiro'),
 (0.009632912164280397, 'Team_Argentina'),
 (0.0029898241813035987, 'Team_Australia'),
 (0.0028824608896993653, 'Team_Great Britain'),
 (0.002474797124296738, 'Team_Czechoslovakia'),
 (0.0021998679793465733, 'Team_Italy'),
 (0.0020605089301169747, 'Team_Austria'),
 (0.0020012404249347606, 'Team_Madagascar'),
 (0.001263632731551675, 'Team_Serbia'),
 (0.0010771732695431186, 'Team_Japan'),
 (0.0010717463852451196, 'Team_Greece'),
 (0.0009607579547280614, 'Team_South Africa'),
 (0.0009298587033917702, 'Team_Kazakhstan'),
 (0.0007829661973137081, 'Team_Switzerland'),
 (0.0007170621288882534, 'Team_South Korea'),
 (0.0006243853345631736, 'Team_China'),
 (0.0006017939713552732, 'Team_Slovenia'),
 (0.0004474243736592342, 'Team_Canada'),
 (0.0004368502871251562, 'Team_Hungary'),
 (0.00041932689159119126, 'Team_Indonesia'),
 (0.0003736022028800865, 'Team_Romania'),
 (0.00036736571239745437, 'Team_Ukraine'),
 (0.0003018808343371585, 'Team_Denmark'),
 (0.0002914057439844651, 'Team_Brazil'),
 (0.0002910364633227864, 'Team_Sweden'),
 (0.00026709566347603785, 'Team_Zimbabwe'),
 (0.0002649860741487602, 'Team_Luxembourg'),
 (0.0002639253699197477, 'Team_Slovakia'),
 (0.0002534902266059925, 'Team_Poland'),
 (0.00023579621956030145, 'Team_Mexico'),
 (0.00022099484241981866, 'Team_Netherlands'),
 (0.0002138563340551422, 'Team_Israel'),
 (0.00019548266144803745, 'Team_Unified Team'),
 (0.00018842315672047076, 'Team_Latvia'),
 (0.00014143717152907207, 'Team_Serbia and Montenegro'),
 (0.00013854755902082866, 'Team_Chinese Taipei'),
 (0.00012823068484697442, 'Team_Croatia'),
 (0.00010979338022243805, 'Team_Tunisia'),
 (8.196291517669132e-05, 'Team_Soviet Union'),
 (8.125032089854025e-05, 'Team_Estonia'),
 (7.778447203287181e-05, 'Team_Colombia'),
 (7.494878907204412e-05, 'Team_New Zealand'),
 (7.380635426236084e-05, 'Team_Paraguay'),
 (2.4248225365126038e-05, 'Team_Venezuela'),
 (2.206908291126907e-05, 'Team_Bosnia and Herzegovina'),
 (2.070388627602906e-05, 'Team_Haiti'),
 (1.5365343856181077e-05, 'Team_Uzbekistan'),
 (2.266693688007542e-06, 'Team_Thailand'),
 (1.2434642783765816e-06, 'Team_India'),
 (0.0, 'Team_Yugoslavia'),
 (0.0, 'Team_Turkey'),
 (0.0, 'Team_Montenegro'),
 (0.0, 'Team_Liechtenstein'),
 (0.0, 'Team_Georgia'),
 (0.0, "Event_Tennis Women's Singles")]

In [9]:
rf.predict(X_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [10]:
predictions = rf.predict(X_test_scaled)
print(f"Training Data Score before hypertuning: {rf.score(X_train, encoded_y_train)}")
print(f"Testing Data Score before hypertuning: {rf.score(X_test, encoded_y_test)}")

Training Data Score before hypertuning: 1.0
Testing Data Score before hypertuning: 0.9590163934426229

In [11]:
results_df = pd.DataFrame({"Prediction": predictions, "Actual": encoded_y_test}).reset_index(drop=True)
results_df.head(10)

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0
5           0       0
6           0       0
7           0       0
8           0       3
9           0       0

# Export model for future use

In [12]:
# save your model by updating "your_name" with your name
import joblib
filename = 'models/random_forest_model.sav'
joblib.dump(rf, filename)

['models/random_forest_model.sav']

# View X_test df to reset index to merge with y_test df to merge into one df for data and predictions merged, then export into csv file

In [13]:
X_test.reset_index(inplace = True, drop = True)
X_test.head()

,Age,Height,Weight,Year,Team_Argentina,Team_Australia,Team_Austria,Team_Belarus,Team_Belgium,Team_Bosnia and Herzegovina,...,Team_Zimbabwe,City_Athina,City_Atlanta,City_Barcelona,City_Beijing,City_London,City_Rio de Janeiro,City_Seoul,City_Sydney,Event_Tennis Women's Singles
0,21.0,183.0,72.0,2004,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,24.0,175.0,62.0,2004,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,26.0,168.0,64.0,2000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,21.0,177.0,77.0,1992,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,19.0,162.0,62.0,2008,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [14]:
merge_results = pd.concat([X_test, results_df], axis=1)
merge_results

,Age,Height,Weight,Year,Team_Argentina,Team_Australia,Team_Austria,Team_Belarus,Team_Belgium,Team_Bosnia and Herzegovina,...,City_Atlanta,City_Barcelona,City_Beijing,City_London,City_Rio de Janeiro,City_Seoul,City_Sydney,Event_Tennis Women's Singles,Prediction,Actual
0,21.0,183.0,72.0,2004,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,24.0,175.0,62.0,2004,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,26.0,168.0,64.0,2000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,21.0,177.0,77.0,1992,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,19.0,162.0,62.0,2008,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,19.0,172.0,70.0,2004,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
118,24.0,182.0,69.0,2016,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
119,19.0,162.0,56.0,1988,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
120,21.0,171.0,57.0,1992,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
121,27.0,188.0,68.0,1992,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [17]:
shorter_merge_results = merge_results[["Age", "Height", "Weight", "Team_United States", "Team_Russia", "Event_Tennis Women's Singles", "Prediction", "Actual"]]
merge_results

,Age,Height,Weight,Year,Team_Argentina,Team_Australia,Team_Austria,Team_Belarus,Team_Belgium,Team_Bosnia and Herzegovina,...,City_Atlanta,City_Barcelona,City_Beijing,City_London,City_Rio de Janeiro,City_Seoul,City_Sydney,Event_Tennis Women's Singles,Prediction,Actual
0,21.0,183.0,72.0,2004,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,24.0,175.0,62.0,2004,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,26.0,168.0,64.0,2000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,21.0,177.0,77.0,1992,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,19.0,162.0,62.0,2008,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,19.0,172.0,70.0,2004,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
118,24.0,182.0,69.0,2016,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
119,19.0,162.0,56.0,1988,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
120,21.0,171.0,57.0,1992,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
121,27.0,188.0,68.0,1992,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [19]:
shorter_merge_results.to_csv("data/results/results_Event_female_tennis_rf_model.csv", index=False, header=True)